     * {
         margin:0; 
         padding:0;
     }
 
    nav {
        margin:auto;
        text-align: center;
        width: 100%;
        font-family: arial;
    } 
    
    nav ul {
        background:#37988e;
        padding: 0 20px;
        list-style: none;
        position: relative;
        display: inline-table;
        width: 100%;
     }

    nav ul li{
        float:left;
    }

    nav ul li:hover{
        background:#d68d9a;
    }

    nav ul li:hover a{
     	color:#000;
    }

    nav ul li a{
     	display: block;
     	padding: 25px;
     	color: #fff;
     	text-decoration: none;


    }
    .table {
    font-family: sans-serif;
    color: #232323;
    border-collapse: collapse;
}
 
.databel, th, td {
    border: 1px solid #999;
    padding: 8px 20px;
}
.foto{
         border: 1px solid #ddd;
         border-radius: 4px;
         padding: 5px;
         width: 150px;
          }
